// reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#gameBoard {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    flex-flow: column wrap;
    align-items: center;
    background-image: url("/img/image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 48rem;
}

.row {
    height: 5rem;
}

.boardBox {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    background: transparent;
    border: 2px solid rgb(55, 55, 55);
}

.guessed {
    background-color: black;
    opacity: 0.7;
}

#tomte {
    background-image: url("/img/tomte.png");
    background-size: contain;
    background-position: center;
    height: 4.7rem;
    width: 4.7rem;
    border: 5px solid rgb(114, 26, 26);
    border-radius: 10%;
    // background: green;

}

.reindeer {
    background-image: url("/img/ren.png");
    background-size: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 10%;
}